OPENAI_API_KEY=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
LLM_MODEL=gpt-4o-mini
EMBEDDINGS_MODEL=text-embedding-3-large
CHROMA_DIR=./app/store/chroma
RAW_DOCS_DIR=./app/store/raw_docs
DATA_DIR=./app/data
MAX_CHUNK_TOKENS=500
CHUNK_OVERLAP_TOKENS=80
TOP_K=5
RESPONSE_LANGUAGE=fr
